.button {
    font: inherit;
    border: 1px solid #3084F2;
    border-radius: 3px;
    background: #3084F2;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #1776E0;
    border-color: #1776E0;
  }
  
  .button:focus {
    outline: none;
  }